

.upper {
    width: 800px;
    border: 2px solid black;
    padding: 50px;
    margin: 300px;
    position: absolute;
    left: 3%;
    bottom: 18%;
    height: 25%;
 

  }
.head{
    position: relative;
    left:28% ;
    bottom: 30%;
    font-weight: 50;
}
.imge{
    width: 70px;
    border: 2px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 8%;
    bottom: 5%;
    height: 40px;
    text-align: center;


}
.photo{
    position: absolute;
    top: 10px;
    left: 2px;
}
.para{
    text-align: center;
    font-weight: 1px;
    font-size: 30px;
    position: absolute;
    left: 350px;
    bottom: 100px;
   
  

}

.lower {
         position: absolute;
        top: 290px;
        left: 325px;
        width: 800px;
        border: 2px solid black;
        padding: 50px;
        margin: 20px;
        height: 50%;
      }
.lowh{
    position: absolute;
    top: 1px;
    left: 380px;
    font-weight: 70;
}
.box1{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 2%;
   top: 12%;
    height: 40px;
    text-align: center;

}
.loh1{
    position: absolute;
    left: 40px;
    top: 0.1px;
}
.lpa1{
    position: absolute;
    left: 30px;
    top: 32px;
    font-size: 20px;
}
.box2{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 32.5%;
   top: 12%;
    height: 40px;
    text-align: center;
}

.box3{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 63%;
   top: 12%;
    height: 40px;
    text-align: center;
}
.box4{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 2%;
   top: 48%;
    height: 40px;
    text-align: center;

}


.box5{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 32.5%;
   top: 48%;
    height: 40px;
    text-align: center;

}
.box6{
    width:160px;
    border: 3px solid black;
    padding: 50px;
    margin: 30px;
    position: absolute;
    left: 63%;
   top: 48%;
    height: 40px;
    text-align: center;

}


